.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  margin: 0 0 2rem 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.44);
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.44);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.person {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.new {
  position: absolute;
  top: 10%;
  left: 70%;
  background-color: aquamarine;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  width: 100px;
  height: 35px;
  margin: 20px 0;
  font-weight: bold;
  font-size: 16px;
}