/* AppProfile  */
.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  margin: 0 0 2rem 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.44);
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.44);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.person {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.new {
  position: absolute;
  top: 10%;
  left: 70%;
  background-color: aquamarine;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  width: 100px;
  height: 35px;
  margin: 20px 0;
  font-weight: bold;
  font-size: 16px;
}


/* AppCounter */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(215, 127, 12);
}

.counter:hover {
  background-color: rgb(246, 243, 197);
}

.number {
  font-size: 7rem;
}

.add_button {
  font-size: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(215, 127, 12);
  background: linear-gradient(
    90deg, 
    rgba(215,127,12, 1) 0%,
    rgba(253, 220, 29, 1) 100%  
  );
}

.total {
  font-size: 1rem;
  margin-left: -1.5rem;
}